@media only screen and (max-device-width: 455px) {
    body {
        background-color: black;
        width: 455px;
        height: 782px;
        margin: 0px;
    }
    div.wrapper {
        display: grid;
        width: inherit;
        height: inherit;
        grid-template-rows: 80px 702px;
    }
    header {
        grid-row: span 1;
        background-color: #4dd0e1;
        display: grid;
    }
    
    main {
        grid-row: span 1;
        background-color: peachpuff;
        background-image: url("../img/main1.png");
        display: grid;
        grid-template-rows: repeat(7,1fr);
        grid-template-columns: repeat(7,65px);
    }

    div.test1 {
        grid-row: 6/7;
        grid-column: 2/4;
        border: solid 2px #212121;
        border-radius: 10px;
        text-align: center;
        color: #212121;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 500;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    div.test2 {
        grid-row: 6/7;
        grid-column: 5/7;
        border: solid 2px #212121;
        border-radius: 10px;
        text-align: center;
        color: #212121;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    header nav h2{
        font-family: 'Roboto';
        font-weight: 500;
    }

    nav {
       
        display: grid;
        grid-template-columns: 0px 48px auto auto;
        grid-template-rows: 12px 1fr 12px;
        grid-column-gap: 12px;
    }

    nav div.menuicon {
        grid-row: 2/3;
        grid-column: 2/3;
        display:flex;
        justify-content:center;
        align-items:center;
        
        
        
    }
    
    nav div.menuicon i.material-icons {
        font-size: 48px;
        color: rgba(0, 0, 0, 0.54);
        grid-row: 2/3;
        grid-column: 2/3;
        display:flex;
        justify-content:center;
        align-items:center;
        
    }
    
    .navlogo {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .menu {
        transform: translateX(-100%); 
        transition: transform 0.5s;
        position: absolute;
        height: 100vh;
        width: 70vw;
        background-color: rgb(77 208 225);
        display: grid;
        grid-template-columns: 0px 48px auto;
        grid-template-rows: 12px 56px 12px auto;
        grid-column-gap: 12px;
        z-index: 99;

    }

    .show {
        transform: translateX(0);
    }
    
    div.menu i.material-icons {
        font-size: 48px;
        color: rgba(0, 0, 0, 0.54);
        grid-row: 2/3;
        grid-column: 2/3;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    /* .gray {
        transition: fade 0.5s;
        height: 100vh;
        width: 100vw;
        background-color: rgba(100, 100, 100, 0.5);
        position: absolute;
        display: none;
    }

    .fade {
        display: block;
    } */
}

/* Ignore */
ignore{
    display: none;
    color: #4dd0e1;
    color: #88ffff;
    color: #212121;
    color: #484848;
}
    
